{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <title>Gym Manager</title>
{% endblock %}

{% block content %}

<div class="card-index table-container">
    <div class="new-person">
        <a href="/instructors/create"><i class="material-icons add-button">add_box</i></a> 
        <a href="/instructors/create">Novo instrutor</a>
        <form action="/instructors" method="GET">
            <input type="text" name="filter" placeholder="Nome ou Atendimento" value={{filter}}>
            <button type="submit">Filtrar</button>
        </form>
    </div>
    <table width="100%">
        <thead>
            <tr>
                <th>Instrutores</th>
                <th>Especialidades</th>
                <th>Alunos</th>
                <th>Visualizar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td>
                <span style="background-image: url({{ instructor.avatar_url }})"></span>
                {{ instructor.name }}
                </td>
                <td>{{ instructor.services }}</td>
                <td>{{ instructor.total_students }}</td>
                <td><a href="/instructors/{{ instructor.id}}"><i class="material-icons">visibility</i></a></td>
                <td><a href="/instructors/{{ instructor.id}}/edit"><i class="material-icons">create</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination" 
    data-page={{pagination.page}} 
    data-total={{pagination.total}} 
    data-filter={{filter}}>

    </div>
</div>

{% endblock content %}