
<script>
        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", (event) => {
          const confirmation = confirm(`Deletar? {{instructor.name}}`)
          if(!confirmation) {
            event.preventDefault()
          }
        })
</script>