<header>
  <div class="container">
    <a href="/">
      <div class="logo">
        <h1>Launchstore</h1>
        <h2>Compra e Venda</h2>
      </div>
    </a>

    <form action="/products/search" method="GET" class="search">
      <input 
        type="text" 
        name="filter" 
        placeholder="Buscar por produto"
        {% if search.term  %}
          value="{{ search.term }}"
        {% endif%}
        >
    </form>


    <nav class="primary">
      <ul>
        <li>
          <a href="/ads/create">
            <i class="material-icons">add</i>
            Novo anúncio 
          </a>
        </li>
        <li class="accounts">
          <a href="/accounts">
            <i class="material-icons">account_circle</i>
            Minha conta
          </a>
          {% if user %}        
          <ul class="submenu">
            <li>
              <a href="/users">Configurações</a>
              <a href="/buying">Meus Pedidos</a>
              <a href="/selling">Minhas Vendas</a>
            </li>
            <li>
              <form action="/users/logout" method="POST">
                <button>Sair</button>
              </form>
            </li>
          </ul>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</header>