<div class="item">
    <div>Foto perfil</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ member.avatar_url }}"/>
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name="name" placeholder="Seu nome completo" value="{{ member.name }}"/>
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input type="text" name="email" placeholder="membro@email.com.br" value="{{ member.email }}"/>
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ member.birth }}"/>
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span >
            <input type="radio" name="gender" value="M" {% if member.gender == 'M' %} checked="checked" {% endif %}/>Masculino
        </span >
        <span>
            <input type="radio" name="gender" value="F" {% if member.gender == 'F' %} checked="checked" {% endif %}/>Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Objetivo</div>
    <div>
        <select name="meta">
            <option value="emagrecer" 
                {% if member.meta == "emagrecer" %} selected {% endif %}>Emagrecer
            </option>
            <option value="hipertrofia"
                {% if member.meta == "hipertrofia" %} selected {% endif %}>
                Hipertrofia
            </option>
            <option value="manterPeso" 
                {% if member.meta == "materPeso" %} selected {% endif %}>
                Manter o peso
            </option>
            <option value="condicionamento" 
                {% if member.meta == "condicionamento" %} selected {% endif %}>
                Melhorar o condicionamento físico
            </option>
            <option value="campeonato" 
                {% if member.meta == "campeonato"%} selected {% endif %}>
                Preparação para campeonato
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Peso (kg)</div>
    <div>
        <input type="number" name="weight" placeholder="Peso em quilogramas" value="{{ member.weight }}"/>
    </div>
</div>

<div class="item">
    <div>Altura (cm)</div>
    <div>
        <input type="number" name="height" placeholder="Altura em centimentros" value="{{ member.height }}"/>
    </div>
</div>

<div class="item">
    <div>Instrutor</div>
    <div>
        <select name="instructor">
            {% for instructor in instructorOptions%}
            <option value="{{instructor.id}}" 
                {% if member.instructor_id == instructor.id %} selected {% endif %}>{{instructor.name}}
            </option>
            {% endfor %}
        </select>
    </div>
</div>


<button type="submit">Salvar</button>